.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 100px rgb(126, 126, 194);
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

mat-form-field {
    width: 100%;
}

