<div class="login-container">
    <form>
        <div [hidden]="otpRequested">
            <mat-form-field appearance="outline">
                <mat-label>Phone Number</mat-label>
                <input #phoneNumber matInput type="tel" placeholder="📞 Enter phone number" [disabled]="otpRequested"
                    required pattern="[0-9]{10}">
                <mat-hint align="end">{{phoneNumber.value.length}} / 10</mat-hint>
            </mat-form-field>
            <button mat-raised-button color="primary" class="login-button" [disabled]="phoneNumber.value.length != 10"
                (click)="requestOtp()">Get Otp</button>
        </div>

        <div [hidden]="!otpRequested || loggedIn">
            <mat-form-field appearance="outline">
                <mat-label>Enter OTP</mat-label>
                <input #otp matInput type="number" placeholder="😵 Enter OTP" [disabled]="otpVerified"
                    required pattern="[0-10]{6}">
                <mat-hint align="end">{{otp.value.length}} / 6</mat-hint>
            </mat-form-field>
            <button mat-flat-button color="primary" class="login-button" [disabled]="otp.value.length!==6"
                (click)="login(otp.value)">Get Otp</button>
        </div>
        

    </form>
</div>