/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: sans-serif; }

.green-success-snackbar {
    background-color: #2bbe68 !important;
    color: #fff;
    font-weight: 500;
}

.red-error-snackbar {
    background-color: #ff3737 !important;
    color: #fff;
    font-weight: 500;
}

.orange-warning-snackbar {
    background-color: #ff6f00 !important;
    color: #fff;
    font-weight: 500;
}

.default-snackbar {
    font-weight: 500;
}